<html lang="en"></html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap"
      rel="stylesheet"
    />
    <title>Payment Disbursement Notification</title>
  </head>
  <body style="text-align: center">
    <script
      src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"
    ></script>

    <table
      role="presentation"
      style="border-collapse: collapse; background-color: #f2f5f8; width: 100%"
    >
      <tr>
        <td align="center">
          <h3
            style="
              color: #4d3ca3;
              font-size: 36px;
              font-weight: 300;
              line-height: 34px;
              text-align: center;
              margin-top: 40px;
            "
          >
            <span style="font-weight: 600">Style</span>Vibe
          </h3>
        </td>
      </tr>

      <tr>
        <td align="center">
          <div
            style="
              font-family: 'Inter', sans-serif;
              max-width: 602px;
              margin: 30px;
              background-color: white;
              padding: 30px;
            "
          >
            <h3
              style="
                color: #333333;
                font-size: 16px;
                font-weight: 400;
                line-height: 34px;
                text-align: left;
              "
            >
              Hi <strong  style="font-weight: 600;">{{sellerName}}</strong>,
            </h3>

            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 400;
                line-height: 34px;
              "
            >
              We are happy to inform you that the payment for your service <strong>{{serviceName}}</strong> has been successfully disbursed to your Stripe account.
            </h3>

            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 400;
                line-height: 34px;
              "
            >
              Details of the payment are as follows:
            </h3>

            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 600;
                line-height: 34px;
              "
            >
              Booking ID: <span style="font-weight: 900">{{customerBookingId}}</span>
            </h3>
            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 600;
                line-height: 34px;
              "
            >
              Transaction ID: <span style="font-weight: 900">{{transactionId}}</span>
            </h3>
            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 600;
                line-height: 34px;
              "
            >
              Amount: <span style="font-weight: 900">€{{amount}}</span>
            </h3>

            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 600;
                line-height: 34px;
              "
            >
              Customer Name: <span style="font-weight: 900">{{customerName}}</span>
            </h3>
            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 600;
                line-height: 34px;
              "
            >
              Customer Email: <span style="font-weight: 900">{{customerEmail}}</span>
            </h3>

            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 400;
                line-height: 34px;
              "
            >
              Thank you for using <span style="font-weight: 600">StyleVibe!</span>
            </h3>

            <div style="text-align: center">
              <a href="{{stripeDashboardLink}}">
                <button
                  style="
                    height: 40px;
                    width: 200px;
                    background-color: #5b6aff;
                    border: 1px solid #5b6aff;
                    border-radius: 20px;
                    color: white;
                    margin: 30px 0;
                    cursor: pointer;
                  "
                >
                  View Stripe Dashboard
                </button>
              </a>
            </div>

            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 400;
                line-height: 34px;
              "
            >
              If you have any issues or questions, please contact us at
              <a
                href="mailto:ronybarua.business23@gmail.com"
                style="color: #2d8fff; margin-left: 5px"
              >
                ronybarua.business23@gmail.com
              </a>
            </h3>

            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 400;
                line-height: 34px;
              "
            >
              If you did not request this service or believe this is an error, please ignore this email.
            </h3>

            <h4
              style="
                color: #333333;
                font-size: 16px;
                font-weight: 600;
                text-align: left;
              "
            >
              We look forward to helping you grow your business with StyleVibe!
            </h4>

            <table style="border-collapse: collapse; width: 100%">
              <tr style="border-top: 50px solid white">
                <td align="left">
                </td>
                <td align="right" style="width: 70%">
                  <span><iconify-icon
                      icon="akar-icons:twitter-fill"
                      style="color: #91a4b8"
                      width="24"
                      height="24"
                    ></iconify-icon></span>
                  <span style="border-left: 25px solid white"><iconify-icon
                      icon="el:facebook"
                      style="color: #91a4b8"
                      width="24"
                      height="24"
                    ></iconify-icon></span>
                  <span style="border-left: 25px solid white"><iconify-icon
                      icon="akar-icons:linkedin-box-fill"
                      style="color: #91a4b8"
                      width="24"
                      height="24"
                    ></iconify-icon></span>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
